<div class="p-6 bg-gray-50 min-h-screen">
  <h1 class="text-3xl font-bold mb-6 text-gray-800">
    <span class="text-blue-600"><%= @team.team_name %></span><br> - メンバー登録状況 -
  </h1>
  <div class="bg-gray-100 p-6 rounded-xl mb-8 shadow-inner">
    <p class="text-gray-600 mb-4">
      招待URLページから選手登録を行い、ステータスを「Approved」に更新しましょう。
      <%= link_to "選手登録ガイドはこちら", "https://youtu.be/Ce4kyeAfgbQ?si=nWZc4z73ry3dYcz5", 
                  target: "_blank", 
                  class: "text-blue-500 underline hover:text-blue-700 transition duration-200" %>
    </p>
  <div class="overflow-x-auto">
    <table class="table w-full border-collapse rounded-lg shadow-md">
      <thead class="bg-gray-200">
        <tr>
          <th class="px-4 py-3 text-left text-sm font-medium text-gray-600">名前</th>
          <th class="px-4 py-3 text-left text-sm font-medium text-gray-600">メールアドレス</th>
          <th class="px-4 py-3 text-left text-sm font-medium text-gray-600">ロール</th>
          <th class="px-4 py-3 text-left text-sm font-medium text-gray-600">ステータス</th>
          <th class="px-4 py-3 text-left text-sm font-medium text-gray-600">操作</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @athletes.each do |invitation| %>
          <tr class="hover:bg-gray-100">
            <!-- 名前 -->
            <td class="px-4 py-4 text-sm text-gray-900 whitespace-normal">
              <%= invitation.user.last_name %> <%= invitation.user.first_name %> 
            </td>
            
            <!-- メールアドレス -->
            <td class="px-4 py-4 text-sm text-gray-900 whitespace-normal">
              <%= invitation.user.email %>
            </td>

            <!-- ロール -->
            <td class="px-4 py-4 text-sm text-gray-900 whitespace-normal">
              <%= I18n.t("role.roles.#{invitation.user.role&.role}", default: '未設定') %>
            </td>
            
            <!-- ステータス -->
            <td class="px-4 py-4 text-sm">
              <span class="badge block 
                <%= invitation.pending? ? 'badge-warning' : 'badge-success' %>">
                <%= invitation.status.capitalize %>
              </span>
            </td>
            
            <!-- 操作 -->
            <td class="px-4 py-4 text-sm">
            <% if invitation.pending? %>
             <%= button_to "承認する", approve_team_invitation_path(invitation), 
                           method: :post, 
                           data: { turbo: false }, 
                           class: "btn btn-outline btn-sm text-blue-500 border-blue-500 hover:bg-blue-500 hover:text-white w-full whitespace-nowrap" %>
           <% else %>
             <%= button_to "承認取り消し", pending_team_invitation_path(invitation), 
                           method: :post, 
                           data: { turbo: false }, 
                           class: "btn btn-outline btn-sm text-green-500 border-green-500 hover:bg-green-500 hover:text-white w-full whitespace-nowrap" %>
           <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
  </div>
    <div class="mt-6 text-center">
      <%= link_to "招待URLページへ", team_invitations_path, class: "btn btn-primary btn-lg shadow-lg hover:shadow-xl transition-shadow duration-300" %>
    </div>
</div>
