<section class="bg-gray-50 dark:bg-gray-900 min-h-screen flex items-center justify-center">
  <div class="w-full max-w-lg bg-white rounded-lg shadow-xl dark:border dark:border-gray-700 dark:bg-gray-800">
    <div class="p-8 space-y-6">
      <h1 class="text-2xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white">
        選手登録を申請する
      </h1>
      <p class="text-gray-600 dark:text-gray-300">
        <span class="font-semibold text-blue-600 bg-blue-100 px-2 py-1 rounded-md">
          <%= @team.team_name %>
        </span>
        に参加するための登録を行ってください。
      </p>

      <%= form_for @user, url: registrations_create_athlete_path(invitation_token: @team.invitation_token), html: { class: "space-y-6" } do |f| %>
        <%= render "shared/error_messages", resource: @user %>
        <!-- 苗字 -->
        <div class="form-control">
          <%= f.label :last_name, "姓", class: "label text-sm font-medium text-gray-900 dark:text-white" %>
          <%= f.text_field :last_name, class: "input input-bordered w-full dark:bg-gray-700 dark:text-white", placeholder: "田中", required: true %>
        </div>

                <!-- 名前 -->
        <div class="form-control">
          <%= f.label :first_name, "名", class: "label text-sm font-medium text-gray-900 dark:text-white" %>
          <%= f.text_field :first_name, autofocus: true, class: "input input-bordered w-full dark:bg-gray-700 dark:text-white", placeholder: "圭介", required: true %>
        </div>

        <!-- メールアドレス -->
        <div class="form-control">
          <%= f.label :email, "メールアドレス", class: "label text-sm font-medium text-gray-900 dark:text-white" %>
          <%= f.email_field :email, class: "input input-bordered w-full dark:bg-gray-700 dark:text-white", placeholder: "name@example.com", required: true %>
        </div>

        <!-- パスワード -->
        <div class="form-control">
          <%= f.label :password, "パスワード", class: "label text-sm font-medium text-gray-900 dark:text-white" %>
          <%= f.password_field :password, class: "input input-bordered w-full dark:bg-gray-700 dark:text-white", placeholder: "••••••••", required: true %>
        </div>

        <!-- パスワード確認 -->
        <div class="form-control">
          <%= f.label :password_confirmation, "パスワード（確認）", class: "label text-sm font-medium text-gray-900 dark:text-white" %>
          <%= f.password_field :password_confirmation, class: "input input-bordered w-full dark:bg-gray-700 dark:text-white", placeholder: "••••••••", required: true %>
        </div>

        <!-- 役割 -->
        <div class="form-control">
          <%= f.fields_for :role, @user.role || @user.build_role do |role_form| %>
            <%= role_form.label :role, "ロール(選手の方はアスリートを選択してください。)", class: "label text-sm font-medium text-gray-900 dark:text-white" %>
            <%= role_form.select :role, Role.roles_i18n, prompt: "役割を選択してください", class: "select select-bordered w-full dark:bg-gray-700 dark:text-white" %>
          <% end %>
        </div>

        <!-- 登録ボタン -->
        <div>
          <%= f.submit "申請する", class: "btn btn-primary w-full" %>
        </div>
      <% end %>
    </div>
  </div>
</section>

