<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  チームへの招待
              </h1>
              <p class="text-gray-600 dark:text-gray-300"><%= @team.team_name %> に参加するための登録を行ってください。</p>
               <%= form_for @user, url: registrations_create_athlete_path(invitation_token: @team.invitation_token), html: { class: "space-y-4 md:space-y-6" } do |f| %>
                  <div>
                      <%= f.label :first_name, "名前", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                      <%= f.text_field :first_name, autofocus: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "田中", required: true %>
                  </div>
                  <div>
                      <%= f.label :last_name, "苗字", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                      <%= f.text_field :last_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "圭介", required: true %>
                  </div>
                  <div>
                      <%= f.label :email, "メールアドレス", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                      <%= f.email_field :email, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "name@example.com", required: true %>
                  </div>
                  <div>
                      <%= f.label :password, "パスワード", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                      <%= f.password_field :password, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "••••••••", required: true %>
                  </div>
                  <div>
                      <%= f.label :password_confirmation, "パスワード（確認）", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                      <%= f.password_field :password_confirmation, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "••••••••", required: true %>
                  </div>
                  <div>
                    <%= f.fields_for :role, @user.role || @user.build_role do |role_form| %>
                    <%= role_form.label :role, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
                    役割
                    <% end %>
                    <%= role_form.select :role, Role.roles_i18n, prompt: "役割を選択してください" %>
                    <% end %>
                  </div>           
                  <div>
                      <%= f.submit "登録", class: "w-full text-black bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>
                  </div>
              <% end %>
          </div>
      </div>
  </div>
</section>

