<h1 class="text-2xl font-extrabold text-cyan-800 mb-3 text-center">コンディションデータフォーム</h1>
<div class="container mx-auto p-6">
  <div class="bg-white p-6 rounded-lg shadow-md">
    <%= form_with model: @condition, local: true, class: "space-y-6" do |form| %>
      <!-- 体温 -->
      <div class="form-control">
        <%= form.label :body_temperature, '体温', class: "label font-bold text-gray-700" %>
        <%= form.number_field :body_temperature, step: 0.1, class: "input input-bordered w-full", placeholder: "例: 36.5" %>
      </div>

      <!-- 睡眠時間 -->
      <div class="form-control">
        <%= form.label :sleep_hours, '睡眠時間', class: "label font-bold text-gray-700" %>
        <%= form.number_field :sleep_hours, step: 0.1, class: "input input-bordered w-full", placeholder: "例: 7.5" %>
      </div>

<!-- 疲労度 -->
<div class="form-control">
  <%= form.label :fatigue_level, '肉体的疲労度(1:低い〜10:高い)', class: "label font-bold text-gray-700" %>
  <div class="grid grid-cols-5 sm:grid-cols-5 md:grid-cols-10 gap-2">
    <% (1..10).each do |num| %>
      <label class="flex items-center justify-center">
        <%= form.radio_button :fatigue_level, num, class: "hidden peer" %>
        <span class="w-full text-center px-3 py-1 border border-gray-400 rounded-lg text-gray-700 cursor-pointer hover:bg-blue-500 hover:text-white peer-checked:bg-blue-500 peer-checked:text-white">
          <%= num %>
        </span>
      </label>
    <% end %>
  </div>
</div>

<!-- 精神的疲労 -->
<div class="form-control">
  <%= form.label :mental_state, '精神的疲労(1:低い〜10:高い)', class: "label font-bold text-gray-700" %>
  <div class="grid grid-cols-5 sm:grid-cols-5 md:grid-cols-10 gap-2">
    <% (1..10).each do |num| %>
      <label class="flex items-center justify-center">
        <%= form.radio_button :mental_state, num, class: "hidden peer" %>
        <span class="w-full text-center px-3 py-1 border border-gray-400 rounded-lg text-gray-700 cursor-pointer hover:bg-blue-500 hover:text-white peer-checked:bg-blue-500 peer-checked:text-white">
          <%= num %>
        </span>
      </label>
    <% end %>
  </div>
</div>

      <!-- 記録日 -->
      <div class="form-control">
        <%= form.label :recorded_on, '記録日', class: "label font-bold text-gray-700" %>
        <%= form.date_field :recorded_on, class: "input input-bordered w-full" %>
      </div>

      <!-- ボタン -->
      <div class="form-control">
        <%= form.submit '保存する', class: "btn btn-primary w-full" %>
      </div>
    <% end %>
  </div>
</div>
