<div class="container mx-auto p-6">
  <!-- タイトル -->
  <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">記録フォーム</h1>

  <div class="bg-white p-6 rounded-lg shadow-md">
    <%= form_with model: @self_record, local: true, class: "space-y-6" do |form| %>
      <!-- スタイル -->
      <div class="form-control">
        <%= form.label :style, 'スタイル', class: "label font-bold text-gray-700" %>
        <%= form.select :style, 
            SelfRecord.styles.map { |key, value| [I18n.t("enums.style.#{key}", default: key.humanize), key] },
            {}, 
            class: "select select-bordered w-full" %>
     </div>
      <!-- 距離 -->
      <div class="form-control">
        <%= form.label :distance, '距離', class: "label font-bold text-gray-700" %>
        <%= form.select :distance, 
              [[50, 50], [100, 100], [200, 200], [400, 400], [800, 800], [1500, 1500]], 
              {}, 
              class: "select select-bordered w-full" %>
      </div>
      <!-- 記録（入力） -->
      <div class="form-control">
        <%= form.label :record, '記録 (例: 1\'10"10)', class: "label font-bold text-gray-700" %>
        <%= form.text_field :record, id: "record_input", 
               class: "input input-bordered w-full",
               autocomplete: "off", autocorrect: "off", autocapitalize: "off", spellcheck: "false" %>
        <%= form.hidden_field :record, id: "record_hidden" %>
      </div>

      <!-- 記録日 -->
      <div class="form-control">
        <%= form.label :recorded_on, '記録日', class: "label font-bold text-gray-700" %>
        <%= form.date_field :recorded_on, class: "input input-bordered w-full" %>
      </div>

      <!-- ボタン -->
      <div class="form-control">
        <%= form.submit '保存する', class: "btn btn-primary w-full" %>
      </div>
    <% end %>
  </div>
</div>
