<section class="bg-gray-100 dark:bg-gray-900 min-h-screen flex items-center justify-center px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md bg-white rounded-xl shadow-lg dark:bg-gray-800 dark:border dark:border-gray-700 p-8">
    <h1 class="text-2xl font-extrabold text-gray-900 dark:text-white text-center mb-4">
      新規登録
    </h1>
    <p class="text-center text-gray-600 dark:text-gray-300 mb-6">
      アカウントを作成して、SwimFisrtを利用しましょう
    </p>
    <!-- Google Sign Up Button -->
    <div class="flex justify-center mb-6">
      <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: "false" }, class: "inline-block dark:bg-gray-800 px-4 py-2 border flex gap-2 border-slate-200 dark:border-slate-700 rounded-lg text-slate-700 dark:text-slate-200 hover:border-slate-400 dark:hover:border-slate-500 hover:text-slate-900 dark:hover:text-slate-300 hover:shadow transition duration-150" do %>
        <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="google logo" class="w-6 h-6" loading="lazy">
        <span>Sign up with Google</span>
      <% end %>
    </div>

    <div class="relative flex items-center mb-6">
      <div class="flex-grow border-t border-gray-300 dark:border-gray-600"></div>
      <span class="px-2 text-gray-500 dark:text-gray-400 text-sm">または</span>
      <div class="flex-grow border-t border-gray-300 dark:border-gray-600"></div>
    </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { controller: "recaptcha" }, html: { class: "space-y-4" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div>
          <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
            メールアドレス
          <% end %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", placeholder: "name@company.com", required: true %>
        </div>
        <div>
          <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
            パスワード
          <% end %>
          <% if @minimum_password_length %>
            <em class="text-sm text-gray-500 dark:text-gray-400">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", placeholder: "••••••••", required: true %>
        </div>
        <div>
          <%= f.label :password_confirmation, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
            パスワード(確認用)
          <% end %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", placeholder: "••••••••", required: true %>
        </div>
        <div>
          <%= f.label :last_name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
            姓
          <% end %>
          <%= f.text_field :last_name, autofocus: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", placeholder: "田中", required: true %>
        </div>
        <div>
          <%= f.label :first_name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
            名
          <% end %>
          <%= f.text_field :first_name, autofocus: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", placeholder: "圭介", required: true %>
        </div>
        <div>
          <%= f.fields_for :role, resource.role || resource.build_role do |role_form| %>
            <%= role_form.label :role, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
              ロール(指導者は"コーチ"を選択してください)
            <% end %>
            <%= role_form.select :role, Role.roles_i18n, prompt: "役割を選択してください", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" %>
          <% end %>
        </div>
        <div>
          <%= f.fields_for :teams_attributes, resource.teams.build do |team_form| %>
            <%= team_form.label :team_name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= team_form.text_field :team_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", placeholder: "チーム名を入力してください" %>
          <% end %>
        </div>
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <%= check_box_tag :terms, "1", false, class: "w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:ring-offset-gray-800" %>
          </div>
        <div class="ml-3 text-sm">
          <%= link_to "利用規約に同意しました", terms_of_use_path, class: "font-medium text-blue-500 hover:underline dark:text-blue-400" %>
        </div>
        </div>
        <div>
          <%= f.submit "登録", id: "submit-button", class: "w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
        </div>
      <% end %>
      <p class="text-sm font-light text-gray-500 dark:text-gray-400">
        Already have an account? <%= link_to "Login here", new_user_session_path, class: "font-medium text-blue-500 hover:underline dark:text-blue-400" %>
      </p>
    </div>
</section>
<%= render 'shared/footer' %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("submit-button").addEventListener("click", function(event) {
      event.preventDefault(); // 通常の送信を防ぐ

      grecaptcha.ready(function() {
        grecaptcha.execute("<%= Recaptcha.configuration.site_key %>", {action: "submit"}).then(function(token) {
          // トークンをフォームに追加
          let form = document.querySelector("form");
          let input = document.createElement("input");
          input.setAttribute("type", "hidden");
          input.setAttribute("name", "recaptcha_token");
          input.setAttribute("value", token);
          form.appendChild(input);

          form.submit(); // reCAPTCHAを通過したら送信
        });
      });
    });
  });
</script>