<!-- 検索フォーム -->
<div>
  <h1 class="text-2xl font-extrabold text-cyan-800 mb-3 text-center">コンディショングラフ</h1>
  <%= render 'search', q: @q, url: condition_charts_path %>
</div>
<div class="container mx-auto p-2 space-y-4">
  <%= link_to "一覧へ戻る", conditions_path, class: "inline-block px-6 py-3 rounded-lg text-white font-semibold bg-gradient-to-r from-blue-500 to-cyan-400 shadow-md hover:from-blue-600 hover:to-cyan-500 hover:shadow-lg transition duration-300 ease-in-out" %>
  <!-- グラフセクション -->
  <div class="grid grid-cols-1 gap-6">
    <!-- グラフ1 -->
    <div class="card shadow-lg bg-base-100 p-4">
      <h2 class="text-sm font-semibold mb-2 text-center">疲労度</h2>
      <canvas 
        class="w-full h-64"
        data-controller="chart"
        data-chart-data-value="<%= @chart1_data.to_json %>"
        data-chart-options-value="<%= @chart1_options.to_json %>"
      ></canvas>
    </div>

    <!-- グラフ2 -->
    <div class="card shadow-lg bg-base-100 p-4">
      <h2 class="text-sm font-semibold mb-2 text-center">体温と睡眠時間</h2>
      <canvas 
        class="w-full h-64"
        data-controller="chart"
        data-chart-data-value="<%= @chart2_data.to_json %>"
        data-chart-options-value="<%= @chart2_options.to_json %>"
      ></canvas>
    </div>
  </div>
</div>
