
<footer class="footer footer-center bg-base-200 text-base-content rounded p-10">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to "お問い合わせ", "https://forms.gle/jUC8zg88bVUD21nVA", class: "link link-hover" %>
    <%= link_to "プライバシーポリシー", privacy_policy_path, class: "link link-hover" %>
    <%= link_to "利用規約", terms_of_use_path, class: "link link-hover" %>
  </nav>
<nav>
  <div class="grid grid-flow-col gap-4">
    <%= link_to "https://x.com/SwimF88957" do %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        class="fill-current">
        <path d="M17.09 2H21L13.5 10.5 22 22h-4.02l-6.35-7.88L5.82 22H2l8.99-9.75L2 2h4.09l6.09 7.38L17.09 2Z"></path>
      </svg>
    <% end %>
    <%= link_to "https://www.youtube.com/channel/UCGDhemtE9sDM6g1D-RAwhww" do %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        class="fill-current">
        <path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path>
      </svg>
    <% end %>
  </div>
</nav>
  <aside>
    <p>&copy; <%= Date.today.year %> - All rights reserved by SwimFirst</p>
  </aside>
</footer>