<header class="bg-blue-950 text-white shadow-lg" data-turbo="false">
  <div class="flex justify-between items-center p-2">
    <!-- ロゴ -->
    <div>
      <%= link_to "SwimFirst", root_path, class: "text-2xl font-bold text-cyan-300 hover:text-white" %>
      <% if user_signed_in? %>
        <% if current_user.role.present? %>
          <p class="flex items-center text-sm font-medium text-cyan-300 mt-1">
            <%= t("role.roles.#{current_user.role.role}") %>
            <span class="font-bold ml-1"><%= current_user.last_name %><%= current_user.first_name %></span>さん
          </p>
        <% else %>
        <p class="flex items-center text-sm font-medium text-red-500 mt-1">
          ロールが未設定です
        </p>
        <% end %>
      <% end %>
    </div>

    <!-- メニューリスト -->
    <!-- ヘッダー -->
    <div class="bg-blue-950 text-white">
      <div class="container mx-auto flex justify-center items-center h-16">
    <!-- メニューリスト -->
      <div x-data="{ open: false, menu: false, invite: false }">
        <ul class="flex space-x-4 items-center">
        <% if user_signed_in? %>
        <li class="hidden md:block">
          <button @click="menu = true"
                  class="block text-lg font-semibold tracking-wide rounded transition ease-in-out duration-300 text-gray-300 hover:text-white hover:bg-gradient-to-r from-cyan-500 to-blue-600 hover:shadow-lg px-4 py-2">
            メニュー
          </button>
        </li>

        <% if current_user.role.coach? %>
          <li class="hidden md:block">
            <button @click="invite = true"
                    class="block text-lg font-semibold tracking-wide rounded transition ease-in-out duration-300 text-gray-300 hover:text-white hover:bg-gradient-to-r from-cyan-500 to-blue-600 hover:shadow-lg px-4 py-2">
              メンバー招待
            </button>
          </li>
        <% end %>

        <% if @team.present? && current_user.role.coach? %>
        <li class="hidden md:block">
          <%= link_to "メンバー管理", athletes_team_path(@team), 
                class: "block text-lg font-semibold tracking-wide rounded transition ease-in-out duration-300 text-gray-300 hover:text-white hover:bg-gradient-to-r from-cyan-500 to-blue-600 hover:shadow-lg px-4 py-2" %>
        </li>
        <% end %>
        <li>
          <%= button_to "ログアウト", destroy_user_session_path, method: :delete, data: { turbo_confirm: "本当にログアウトしますか？" }, 
                class: "block text-lg font-semibold tracking-wide rounded transition ease-in-out duration-300 text-gray-300 hover:text-white hover:bg-gradient-to-r from-red-500 to-red-700 hover:shadow-lg px-4 py-2" %>
        </li>
        <% else %>
        <li>
          <button @click="open = true" 
                  class="block text-lg font-semibold tracking-wide rounded transition ease-in-out duration-300 text-gray-300 hover:text-white hover:bg-gradient-to-r from-cyan-500 to-blue-600 hover:shadow-lg px-4 py-2">
            新規登録
          </button>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path, 
                class: "block text-lg font-semibold tracking-wide rounded transition ease-in-out duration-300 text-gray-300 hover:text-white hover:bg-gradient-to-r from-cyan-500 to-blue-600 hover:shadow-lg px-4 py-2" %>
        </li>
       <% end %>
        </ul>
      <%= render 'shared/modal' %>
  </div>
      </div>
    </div>
    <% if user_signed_in? %>
      <button id="hamburger-toggle" class="btn btn-square lg:hidden text-white bg-blue-950 hover:bg-sky-700">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </button>
    <% end %>
  </div>
<% if user_signed_in? %>
    <!-- ハンバーガーメニュー (スマホ画面用) -->
  <nav id="mobile-menu" class="hidden bg-blue-950">
    <ul class="p-4 space-y-4">
      <li>
        <%= link_to "TOPページへ戻る", root_path, class: "btn bg-white text-cyan-500 hover:bg-cyan-600 w-full h-12 rounded-md shadow-md" %>
      </li>
      <li>
        <% if @team.present? && current_user.role.coach? %>
          <%= link_to "メンバー管理", athletes_team_path(@team), class: "btn bg-white text-cyan-500 hover:bg-cyan-600 w-full h-12 rounded-md shadow-md" %>
        <% end %>
      </li>
      <li>
        <%= link_to "レコード", self_records_path, class: "btn bg-white text-cyan-500 hover:bg-cyan-600 w-full h-12 rounded-md shadow-md" %>
      </li>
      <li>
        <%= link_to "コンディション", conditions_path, class: "btn bg-white text-cyan-500 hover:bg-cyan-600 w-full h-12 rounded-md shadow-md" %>
      </li>
      <li>
        <%= link_to "フィジカル", bodies_path, class: "btn bg-white text-cyan-500 hover:bg-cyan-600 w-full h-12 rounded-md shadow-md" %>
      </li>
      <li>
        <%= link_to "トレーニング", training_menus_path, class: "btn bg-white text-cyan-500 hover:bg-cyan-600 w-full h-12 rounded-md shadow-md" %>
      </li>
      <li>
        <%= link_to "日誌", diaries_path, class: "btn bg-white text-cyan-500 hover:bg-cyan-600 w-full h-12 rounded-md shadow-md" %>
      </li>
    </ul>
  </nav>
<% end %>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const toggleButton = document.getElementById("hamburger-toggle");
    const mobileMenu = document.getElementById("mobile-menu");

    toggleButton.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });
  });
</script>

