<aside id="sidebar" class="hidden lg:block w-64 bg-sky-900 text-white shadow-md">
  <nav class="p-4">
    <ul class="menu menu-compact">
      <!-- メニュータイトル -->
      <li class="menu-title">
        <span class="text-cyan-300">ダッシュボード</span>
      </li>
      <!-- メニュー項目 -->
      <li class="mt-2">
        <%= link_to "TOPページへ戻る", root_path, class: "rounded hover:bg-sky-700 transition ease-in-out duration-300" %>
      </li>
      <li class="mt-2">
        <%= link_to "マイレコード", self_records_path, class: "rounded hover:bg-sky-700 transition ease-in-out duration-300" %>
      </li>
      <li>
        <%= link_to "コンディション", conditions_path, class: "rounded hover:bg-sky-700 transition ease-in-out duration-300" %>
      </li>
      <li>
        <%= link_to "フィジカル", bodies_path, class: "rounded hover:bg-sky-700 transition ease-in-out duration-300" %>
      </li>
      <li>
        <%= link_to "トレーニング", training_menus_path, class: "rounded hover:bg-sky-700 transition ease-in-out duration-300" %>
      </li>
      <li>
        <%= link_to "メンバー登録状況", athletes_team_path(@team), class: "rounded hover:bg-sky-700 transition ease-in-out duration-300" %>
      </li>
    </ul>
  </nav>
</aside>
