<aside id="sidebar" class="hidden lg:block w-25 bg-gradient-to-b from-blue-950 to-blue-500 text-white shadow-lg">
  <nav class="p-1">
    <ul class="menu menu-compact">
      <!-- メニュー項目 -->
      <% if user_signed_in? %>
      <% if current_user.role.coach? %>
      <li class="mt-2">
        <%= link_to "選手レコード", self_records_path, class: "text-lg rounded hover:bg-sky-700 text-cyan-300 hover:text-white transition ease-in-out duration-300" %>
      </li>
      <% else %>
      <li class="mt-2">
        <%= link_to "マイレコード", self_records_path, class: "text-lg rounded hover:bg-sky-700 text-cyan-300 hover:text-white transition ease-in-out duration-300" %>
      </li>
      <% end %>
      <li>
        <%= link_to "コンディション", conditions_path, class: "text-lg rounded hover:bg-sky-700 text-cyan-300 hover:text-white transition ease-in-out duration-300" %>
      </li>
      <li>
        <%= link_to "コンディションレポート", condition_charts_path, class: "text-lg rounded hover:bg-sky-700 text-cyan-300 hover:text-white transition ease-in-out duration-300" %>
      </li>
      <li>
        <%= link_to "フィジカル", bodies_path, class: "text-lg rounded hover:bg-sky-700 text-cyan-300 hover:text-white transition ease-in-out duration-300" %>
      </li>
      <li>
        <%= link_to "フィジカルレポート", body_charts_path, class: "text-lg rounded hover:bg-sky-700 text-cyan-300 hover:text-white transition ease-in-out duration-300" %>
      </li>
      <li>
        <%= link_to "トレーニング", training_menus_path, class: "text-lg rounded hover:bg-sky-700 text-cyan-300 hover:text-white transition ease-in-out duration-300" %>
      </li>
      <li>
        <%= link_to "日誌", diaries_path, class: "text-lg rounded hover:bg-sky-700 text-cyan-300 hover:text-white transition ease-in-out duration-300" %>
      </li>
      <li>
        <% if @team.present? %>
          <%= link_to "メンバー管理", athletes_team_path(@team), 
                      class: "text-lg rounded hover:bg-sky-700 text-cyan-300 hover:text-white transition ease-in-out duration-300" %>
        <% end %>
      </li>
      <li class="mt-2">
        <%= link_to "TOPページ", root_path, class: "text-lg rounded hover:bg-sky-700 text-cyan-300 hover:text-white transition ease-in-out duration-300" %>
      </li>
    <% end %>
    </ul>
  </nav>
</aside>
