<div class="top-wrapper">
  <div class="top-inner-text">
    <%= image_tag 'top.png', class: 'top-image w-full h-full' %>
  </div>
</div>

<div class="py-12 bg-gray-100">
  <!-- サービス概要 -->
  <section class="text-center">
    <h1 class="text-3xl font-bold mb-4">SWIM FIRSTがご提供する</h1>
    <h2 class="text-5xl font-bold text-blue-600">3つの価値</h2>
  </section>

  <!-- 各価値 -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-12 px-8">
    <section class="card bg-white shadow-md p-6 text-center">
      <h3 class="text-xl font-bold text-gray-800">01 コンディションの可視化</h3>
      <p class="text-gray-600 mt-2">
        日々の疲労度、睡眠時間、睡眠の質などのデータを蓄積し、選手のコンディションを把握
      </p>
      <div class="flex justify-center items-center mt-4">
        <%= image_tag 'strech.png', class: 'w-40 h-auto object-contain' %>
      </div>
    </section>

    <section class="card bg-white shadow-md p-6 text-center">
      <h3 class="text-xl font-bold text-gray-800">02 フィジカルデータの可視化</h3>
      <p class="text-gray-600 mt-2">
        身体組成データを記録し、アスリートの成長を支援
      </p>
      <div class="flex justify-center items-center mt-4">
        <%= image_tag 'body_measure.jpg', class: 'w-40 h-auto object-contain' %>
      </div>
    </section>

    <section class="card bg-white shadow-md p-6 text-center">
      <h3 class="text-xl font-bold text-gray-800">03 トレーニングメニューの作成</h3>
      <p class="text-gray-600 mt-2">
        運動強度を設定したトレーニングメニューの作成
      </p>
      <div class="flex justify-center items-center mt-4">
        <%= image_tag 'heart_rate.jpg', class: 'w-40 h-auto object-contain' %>
      </div>
    </section>
  </div>
</div>

<!-- 機能紹介 -->
<div class="bg-gradient-to-b from-blue-900 to-blue-500 text-white py-12">
  <section class="text-center mb-12">
    <h2 class="text-4xl font-bold">SWIM FIRSTの</h2>
    <h3 class="text-5xl font-bold text-cyan-300">機能のご紹介</h3>
  </section>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 px-8">
    <!-- グラフ機能 -->
    <section class="card bg-white text-black shadow-md p-6 text-center">
      <h3 class="text-xl font-bold">01 チームメンバー招待機能</h3>
      <hr class="my-2 border-blue-500">
      <p class="text-cyan-300">
        チーム独自の招待URL
      </p>
      <p class="mt-4 text-gray-700">
        指導者はチーム独自の招待URLを発行し、選手を登録することができます。
        選手のデータが外部に漏れる心配がありません。
      </p>
    </section>

    <!-- コンディション機能 -->
    <section class="card bg-white text-black shadow-md p-6 text-center">
      <h3 class="text-xl font-bold">02 コンディション機能</h3>
      <hr class="my-2 border-blue-500">
      <p class="text-cyan-300">
        選手のコンディションデータを管理
      </p>
      <p class="mt-4 text-gray-700">
        各選手の体重、睡眠時間、睡眠の質、疲労度を把握することで体調の悪い選手にはトレーニング負荷を減らす支援を行います。
      </p>
    </section>

    <!-- フィジカル機能 -->
    <section class="card bg-white text-black shadow-md p-6 text-center">
      <h3 class="text-xl font-bold">03 フィジカル機能</h3>
      <hr class="my-2 border-blue-500">
      <p class="text-cyan-300">
        選手のフィジカルデータを管理
      </p>
      <p class="mt-4 text-gray-700">
        身体組成データの入力が可能。成長速度に合ったトレーニング計画作成のサポートをします。
      </p>
    </section>

    <section class="card bg-white text-black shadow-md p-6 text-center">
      <h3 class="text-xl font-bold">04 トレーニング機能</h3>
      <hr class="my-2 border-blue-500">
      <p class="text-cyan-300">
        水泳のトレーニングメニューを作成
      </p>
      <p class="mt-4 text-gray-700">
        水泳用にカテゴライズされた運動強度を設定できます。選手はフィードバックとして心拍数を入力し、日々のトレーニング評価を数値化します。
      </p>
    </section>
  </div>
</div>
<%= render 'shared/footer' %>