<div class='top-wrapper'>
  <div class='top-inner-text'>
    <%= image_tag 'top.png', class: 'top-image' %>
  </div>
</div>
<div>
<section class="text-5xl text-center flex flex-col justify-center items-center">
  <div >
    <%= "SWIM FIRSTがご提供する" %>
    <br>
    <%= "3つの価値" %>
    <br>
    <%= image_tag 'swimerLogo.png' %>
  </div>
</section>
<section class="text-5xl text-center flex justify-center items-center">
  <div >
    <%= "01 コンディションの可視化" %>
    <br>
    <%= "日々の疲労度、睡眠時間、睡眠の質などのデータを蓄積し、選手のコンディションを把握" %>
    <br>
    <%= image_tag 'strech.png' %>
  </div>
</section>
<section class="text-5xl text-center flex justify-center items-center">
  <div >
    <%= "02 フィジカルデータの記録" %>
    <br>
    <%= "身体組成のデータ記録を記録" %>
    <br>
    <%= image_tag 'body_measure.jpg' %>
  </div>
</section>
<section class="text-5xl text-center flex justify-center items-center">
  <div >
    <%= "03 水泳に特化したトレーニング計画" %>
    <br>
    <%= "運動強度を測る指標として心拍数が挙げられます。水泳用にカテゴライズされた運動強度を基に運動強度の評価ができます。" %>
    <br>
    <%= image_tag 'heart_rate.jpg' %>
  </div>
</section>
<div class="bg-gradient-to-b from-blue-900 to-blue-500">
  <section class="text-center text-white" >
    <%= "SWIM FIRSTの" %>
    <%= "機能のご紹介" %>
  </section>
  <section class="text-2xl text-white text-center flex justify-center items-center">
    <div >
      <%= "01 グラフ機能" %>
      <hr>
      <p class="text-cyan-300"><%= "選手の心理状態や体力面を一覧で表示" %></p>
      <br>
      <p class="text-white"><%= "各選手のコンディションや疲労度を一目で確認でき、全体の健康状態やトレーニング状況を一目で確認できます。" %></p>
    </div>
  </section>
  <section class="text-2xl text-white text-center flex justify-center items-center">
    <div >
      <%= "02 コンディション機能" %>
      <hr>
      <p class="text-cyan-300"><%= "選手のコンディションを管理" %></p>
      <br>
      <p class="text-white"><%= "各選手の体重、睡眠時間、睡眠の質、疲労度、怪我の状況、安静時心拍数を確認し、異常値があった場合はアラートを出します。" %></p>
    </div>
  </section>
  <section class="text-2xl text-white text-center flex justify-center items-center">
    <div >
      <%= "03 フィジカル機能" %>
      <hr>
      <p class="text-cyan-300"><%= "選手のフィジカルを管理" %></p>
      <br>
      <p class="text-white"><%= "水泳の競技特性に応じた身体測定のデータを入力。水泳に必要なフィジカルを養うためのトレーニング計画の作成をサポートします。" %></p>
    </div>
  </section>
  <section class="text-2xl text-white text-center flex justify-center items-center">
    <div >
      <%= "04 トレーニング機能" %>
      <hr>
      <p class="text-cyan-300"><%= "設定したトレーニング強度に対する運動負荷の管理" %></p>
      <br>
      <p class="text-white"><%= "コーチは水泳専用のトレーニングカテゴリーを基に運動強度を設定。実際の運動負荷を反映させることで、コーチは選手が適切に運動負荷がかかっているかを把握します。" %></p>
    </div>
  </section>
  <section class="text-2xl text-white text-center flex justify-center items-center">
    <div >
      <%= "05 連絡事項投稿機能" %>
      <hr>
      <p class="text-cyan-300"><%= "連絡事項や選手に読んで欲しいおすすめの記事、YouTube動画を投稿できます。" %></p>
      <br>
      <p class="text-white"><%= "トレーニングに関する記事や生活習慣に関する記事など選手に読んでほしい記事を投稿できます。選手は記事に対してコメントやブックマークすることができます。" %></p>
    </div>
  </section>
</div>