<div class="top-wrapper" data-turbo="false">
  <div class="top-inner-text">
    <%= image_tag 'top.png', class: 'top-image w-full h-full' %>
  </div>
</div>

<div class="py-12 bg-gray-100">
  <!-- サービス概要 -->
  <section class="text-center">
    <h1 class="text-3xl font-bold mb-4">SWIM FIRSTが提供する</h1>
    <h2 class="text-5xl font-bold text-blue-600">3つの価値</h2>
  </section>

  <!-- 各価値 -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-12 px-8">
    <section class="card bg-white shadow-md p-6 text-center">
      <h3 class="text-xl font-bold text-gray-800">01 データの一元管理</h3>
      <p class="text-gray-600 mt-2">
        選手のコンディションやフィジカルデータを一元管理し、コーチが的確にアドバイスできる環境を提供します。
      </p>
      <div class="flex justify-center items-center mt-4">
        <%= image_tag 'data.png', class: 'popup-image cursor-pointer w-40 h-auto object-contain' %>
      </div>
    </section>

    <section class="card bg-white shadow-md p-6 text-center">
      <h3 class="text-xl font-bold text-gray-800">02 フィードバックの可視化</h3>
      <p class="text-gray-600 mt-2">
        水泳指導理論に基づいた運動強度を活用し、心拍数データをフィードバックとして可視化します。
      </p>
      <div class="flex justify-center items-center mt-4">
        <%= image_tag 'menu.png', class: 'popup-image cursor-pointer w-40 h-auto object-contain' %>
      </div>
    </section>

    <section class="card bg-white shadow-md p-6 text-center">
      <h3 class="text-xl font-bold text-gray-800">03 AIによるアシスタント</h3>
      <p class="text-gray-600 mt-2">
        AIが選手一人ひとりのトレーニング日誌を分析し、的確なフィードバックを提供し、選手のケアをサポートします。
      </p>
      <div class="flex justify-center items-center mt-4">
        <%= image_tag 'ai.png', class: 'popup-image cursor-pointer w-40 h-auto object-contain' %>
      </div>
    </section>
  </div>
</div>

<!-- 機能紹介 -->
<div class="bg-gradient-to-b from-blue-900 to-blue-500 text-white py-12">
  <section class="text-center mb-12">
    <h2 class="text-4xl font-bold">SWIM FIRSTの</h2>
    <h3 class="text-5xl font-bold text-cyan-300 mb-2">機能のご紹介</h3>
    <p class="text-base font-bold">(※機能をクリックすると操作ガイドを確認できます。)</p>
  </section>
  <div x-data="{ condition: false, physical: false, training: false, ai: false }" x-cloak>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 px-8">
    <!-- グラフ機能 -->
<section @click="condition = true" 
         class="card bg-white text-black shadow-md p-6 text-center cursor-pointer 
                hover:scale-105 hover:shadow-lg transition duration-300" data-turbo="false" x-cloak>
  <div class="bg-white text-black p-2 text-center">
    <h3 class="text-xl font-bold bg-gradient-to-r from-blue-600 to-cyan-400 text-white py-2 rounded-md shadow-md">
      01 コンディション機能
    </h3>
    <hr class="my-2 border-blue-500">
    <p class="text-cyan-500 font-bold">
      コンディションデータの管理
    </p>
    <p class="mt-4 text-gray-700">
      <li>選手の体温、睡眠時間、疲労度をデータ化し、一元管理します。</li>
      <li>グラフ化により、コンディションの変化を視覚的に把握できます。</li>
    </p>
  </div>
</section>

    <!-- コンディション機能 -->
<section @click="physical = true" 
         class="card bg-white text-black shadow-md p-6 text-center cursor-pointer 
                hover:scale-105 hover:shadow-lg transition duration-300" data-turbo="false" x-cloak>
  <div class="bg-white text-black p-2 text-center">
    <h3 class="text-xl font-bold bg-gradient-to-r from-blue-600 to-cyan-400 text-white py-2 rounded-md shadow-md">
        02 フィジカル機能
    </h3>
    <hr class="my-2 border-blue-500">
    <p class="text-cyan-500 font-bold">
        フィジカルデータの管理
    </p>
    <p class="mt-4 text-gray-700">
      <li>選手の身長、体重、体脂肪率をデータ管理します。</li>
      <li>グラフ化により、身体の成長をわかりやすく確認できます。</li>
    </p>
  </div>
</section>

    <!-- トレーニング機能 -->
<section @click="training = true" 
         class="card bg-white text-black shadow-md p-6 text-center cursor-pointer 
                hover:scale-105 hover:shadow-lg transition duration-300" data-turbo="false" x-cloak>
  <div class="bg-white text-black p-2 text-center">
    <h3 class="text-xl font-bold bg-gradient-to-r from-blue-600 to-cyan-400 text-white py-2 rounded-md shadow-md">
        03 トレーニング機能
    </h3>
    <hr class="my-2 border-blue-500">
    <p class="text-cyan-500 font-bold">
        トレーニングメニューの作成
    </p>
    <p class="mt-4 text-gray-700">
      <li>水泳のトレーニングメニューを作成し、運動強度を適切に設定します。</li>
      <li>選手は心拍数を入力し、トレーニングの評価を数値化できます。</li>
    </p>
  </div>
</section>

<section @click="ai = true" 
         class="card bg-white text-black shadow-md p-6 text-center cursor-pointer 
                hover:scale-105 hover:shadow-lg transition duration-300" data-turbo="false" x-cloak>
  <div class="bg-white text-black p-2 text-center">
    <h3 class="text-xl font-bold bg-gradient-to-r from-blue-600 to-cyan-400 text-white py-2 rounded-md shadow-md">
        04 AI機能
    </h3>
    <hr class="my-2 border-blue-500">
    <p class="text-cyan-500 font-bold">
        トレーニング日誌の作成
    </p>
    <p class="mt-4 text-gray-700">
      <li>選手が記録したトレーニング日誌に対し、AIがフィードバックを提供します。</li>
      <li>日誌の習慣化をサポートし、継続的な成長を促します。</li>
    </p>
  </div>
</section>
  <%= render 'shared/modal_component', 
        modal_variable: 'condition',
        title: 'コンディション機能ガイドをご覧になりますか？',
        links: [
          { url: 'https://youtu.be/TCUQmHzMRaI?si=6VZnvfMyBtMf9BbW', text: 'コーチの方はこちら' },
          { url: 'https://youtu.be/Rm_9bnU8VO8?si=11bKtRH-YWpg2Iw2', text: 'アスリートの方はこちら' }
        ],
        action_link: nil %>

  <%= render 'shared/modal_component', 
        modal_variable: 'physical',
        title: 'フィジカル機能ガイドをご覧になりますか？',
        links: [
          { url: 'https://youtu.be/bYdqrcqXWZo?si=HHjM4JDI9HS5lytK', text: 'コーチの方はこちら' },
          { url: 'https://youtu.be/X3mu-ou72co?si=WiibTfDeAlmvn1J5', text: 'アスリートの方はこちら' }
        ],
        action_link: nil %>

  <%= render 'shared/modal_component', 
        modal_variable: 'training',
        title: 'トレーニング機能ガイドをご覧になりますか？',
        links: [
          { url: 'https://youtu.be/xy3G1UIQ5hg?si=UurQjlbNHKhqn3R5', text: 'コーチの方はこちら' },
          { url: 'https://youtu.be/i1GYVa2EC-0?si=tgNplHof2M0MUMEs', text: 'アスリートの方はこちら' }
        ],
        action_link: nil %>

  <%= render 'shared/modal_component', 
        modal_variable: 'ai',
        title: 'AI機能ガイドをご覧になりますか？',
        links: [
          { url: 'https://youtu.be/aZ-dFqRMfS8?si=J-7VuntdU__ECwOP', text: 'ガイドはこちら' }
        ],
        action_link: nil %>

  </div>
  </div>
</div>
<%= render 'shared/footer' %>