<h1 class="text-2xl font-extrabold text-cyan-800 mb-3 text-center">トレーニングメニュー</h1>
<div class="container mx-auto p-6">
  <% if @training_menus.any? %>
    <!-- カードグリッド -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <% @training_menus.each do |training_menu| %>
        <!-- カード -->
        <div class="card bg-base-100 shadow-xl rounded-lg hover:scale-105 transform transition-transform duration-300">
          <div class="card-body p-6">
            <!-- タイトル -->
            <h2 class="card-title text-xl font-bold text-gray-800"><%= training_menu.training_date %></h2>
            <!-- 説明 -->
            <p class="text-gray-600 mt-3 text-sm leading-relaxed"><%= training_menu.description %></p>
            <!-- セット詳細 -->
            <div class="mt-6">
              <h3 class="font-semibold text-lg text-gray-800">セット詳細</h3>
              <div class="space-y-3 mt-4">
                <% training_menu.training_sets.each_with_index do |set, index| %>
                  <div class="flex justify-between items-center bg-gray-100 rounded-lg p-3 shadow-md">
                    <span class="font-semibold text-gray-800"><%= index + 1 %>set</span>
                    <span class="text-sm text-blue-500"><i class="fa-solid fa-person-swimming" style="color: #055ffa;"></i>/<%= set.intensity %></span>
                    <% user_heart_rate = set.heart_rates.find { |hr| hr.user_id == current_user.id } %>
                      <% if current_user.role.athlete? %>
                        <% if user_heart_rate.present? %>
                          <span class="text-sm text-red-500"><i class="fa-solid fa-heart" style="color: #f20707;"></i>/<%= user_heart_rate.training_heart_rate %></span>
                        <% else %>
                          <span class="text-sm text-gray-400">未設定</span>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <!-- アクションボタン -->
          <div class="card-actions flex justify-center items-center bg-gray-50 px-6 py-4 space-x-4">
            <% if current_user.role.coach? %>
              <%= link_to '編集', edit_training_menu_path(training_menu), class: "btn btn-sm btn-outline btn-info w-20" %>
              <%= button_to '削除', training_menu_path(training_menu), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-outline btn-error w-20" %>
            <% elsif  current_user.role.athlete? %>
              <%= link_to '心拍数を入力', new_training_menu_training_set_path(training_menu), class: "btn btn-sm btn-outline btn-info w-20" %>
              <%= link_to '編集', edit_training_menu_training_set_path(training_menu, @training_set), class: "btn btn-sm btn-outline btn-error w-20" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <!-- 空の状態 -->
    <div class="text-center p-6 bg-gray-50 rounded-lg shadow-lg">
      <p class="text-lg text-gray-600">現在、登録されている記録はありません。</p>
    </div>
  <% end %>
  <%= paginate @training_menus %>
    <!-- 新しいメニュー作成 -->
  <div class="mt-10 text-center mb-6">
    <%= link_to '新しいメニューを作成', new_training_menu_path, class: "btn btn-primary btn-lg shadow-lg hover:shadow-xl transition-shadow duration-300" %>
  </div>
  <div class="bg-gray-100 p-6 rounded-xl mb-8 shadow-inner">
    <p class="text-gray-600 mb-4">以下の表は、Ernest W. Maglischo 氏が提唱した水泳の指導理論に基づく運動強度をまとめたものです。この表を参考に運動強度を設定してください。</p>
      <div class="flex justify-center items-center mt-4">
        <%= image_tag 'Intensity.png', class: 'popup-image cursor-pointer object-contain' %>
      </div>
  </div>
</div>
